@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #01c676;
  --color-secondary: #094fd1;
  --color-dark: #021f41;
  --color-accent: #6366f1;

  --color-background: #f5f7fa;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  --color-text-primary: #021f41;
  --color-text-secondary: #4b5563;
}

/* Tailwind v4 theme tokens */
@theme {
  --color-primary: #01c676;
  --color-secondary: #094fd1;
  --color-dark: #021f41;
  --color-accent: #6366f1;

  --color-background: #f5f7fa;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  --color-text-primary: #021f41;
  --color-text-secondary: #4b5563;
}
